<ion-view view-title="{{chat.name[0]}} {{chat.poke_num}}">
  <ion-content class="padding">

        <button class="button button-calm icon-right ion-information-circled">
          Types: 
        </button>
        <button class="button capitalize button-clear button-positive" ng-repeat="n in [0,1]" ng-click="openTypePopover(n,$event)" >
          {{chat.type[n]}}
        </button>
        
        <br>

        <button class="button button-royal icon-right ion-egg">
          Egg Groups:
        </button>

        <button class="button capitalize button-clear button-royal" ng-repeat="n in [0,1]" ng-click="openEggPopover(n,$event)">
          {{chat.eggs[n]}}
        </button>
        
        <div class="row"> 

          <div class="col-sm-6">
            <div class="card">
              <div class="item item-divider" >
                Regular {{chat.name[0]}}
              </div>
              <img class = "padding" ng-src="{{chat.reg_sprite[n]}}" ng-repeat="n in [0,1]" >
            </div>
          </div>

          <div class="card">
            <div class="item item-divider">
              Shiny {{chat.name[0]}}
            </div>
            <img class = "padding" ng-src="{{chat.shiny_sprite[n]}}" ng-repeat="n in [0,1]" >
          </div>
        </div>

        <div class="card">
          <div class="item item-divider" >
            Able to breed with
          </div>
          <img class = "padding" ng-src="{{chet.reg_sprite[0]}}" ng-repeat="chet in chats | filter: showEggs">
        </div>
      
        <div class="card">
          <div class="item item-divider">
            QR Code
          </div>
          <img ng-src="{{chat.code}}" height="200" >
        </div>

  </ion-content>
</ion-view>
