<ion-view view-title="{{chat.name[0]}} {{chat.poke_num}}">
  <ion-content class="padding">

        <div class="card center animated fadeInUp" >
          <div class="button-bar">
            <button class="button button-calm button-small icon-right ion-information-circled">
              Types: 
            </button>
            <button class="button button-royal button-small icon-right ion-egg" ng-click="openEggGroupPopover(n,$event)">
              Egg Groups:
            </button>
          </div>
          <div class="button-bar ">
          <button class="button capitalize button-clear button-small button-positive" ng-repeat="n in [0,1]" ng-click="openTypePopover(n,$event)" >
            {{chat.type[n]}}
          </button>
          <button class="button capitalize button-clear button-small button-royal" ng-repeat="n in [0,1]" ng-click="openEggPopover(n,$event)">
            {{chat.eggs[n]}}
          </button>
          </div>
        </div>

        <div class="card center animated fadeInUp">
          <div class="item item-divider" >
              <p>{{chat.name[0]}} </p>
            </div>
            <img class = "padding" ng-src="{{chat.reg_sprite[n]}}" ng-repeat="n in [0,1]" >
            <img class = "padding" ng-src="{{chat.shiny_sprite[n]}}" ng-repeat="n in [0,1]" >
          </div>
        </div>

        <div class="card animated fadeInUp">
          <div class="item item-divider" >
                <p><button class="button capitalize button-clear button-block button-dark button-small icon-right ion-information-circled" ng-click="openNaturePopover($event)">
            Base Stats
          </button></p>
          </div>
          <canvas id="radar" height="150"class="padding chart chart-radar" data="graph.data" labels="graph.labels" series='graph.series' height="50"></canvas>
          <div class="item item-divider" >
               <p> Total: {{chat.total}} </p>
          </div>
        </div>

        <div class="card center animated fadeInUp">
          <div class="item item-divider" >
            <p> Able to Breed with </p>
          </div>
          <img class = "padding" ng-src="{{chet.reg_sprite[0]}}" ng-repeat="chet in chats | filter: showEggs">
        </div>
      
        <div class="card thumbnail animated fadeInUp">
          <div class="item item-divider">
            <p> QR Code </p>
          </div>
          <img ng-src="{{chat.code}}" >
        </div>

  </ion-content>
</ion-view>
