<ion-view view-title="Sprites">

  <ion-content>
  <label class="item item-input animated fadeInUp">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search Pokemon or ID" ng-model="searchText">
    </label>
    <ion-list>
      <ion-item class="item-icon-right animated fadeInUp" ng-repeat="chat in chats | filter:searchText | filter:showPoke" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
          <img ng-src="{{chat.icon}}" height = "60" class = "left-image">
          <i class="icon ion-information-circled icon-accessory"></i>
          <p style= "text-align: center">[{{chat.poke_num}}] {{chat.name[0]}} </p>
      </ion-item>

    </ion-list>
    <br>
    <br>
    <br>
  </ion-content>

  <div class="bar bar-footer bar-balanced">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search Pokemon or ID" ng-model="searchText">
    </label>
  </div>
</ion-view>
