
<ion-view view-title="{{national.name}} #{{national.id}}">
  <ion-content class="padding">

        <button class="button button button-calm ">
          Types: 
        </button>
        <button class="button capitalize button-clear button-positive" ng-repeat="n in [0,1]" ng-class="button-assertive">
          {{national.types[n]}}
        </button>

       <button class="button button button-royal">
          Egg groups:
        </button>

        <button class="button capitalize button-clear button-royal" ng-repeat="n in [0,1]" ng-class="button-assertive">
          {{national.eggs[n]}}
        </button>
      <div class="row"> 

        <div class="col-sm-6">
          <div class="card">
            <div class="item item-divider" >
              Regular {{national.name}}
            </div>
            <img class = "padding" ng-src="{{national.reg_sprite[n]}}" ng-repeat="n in [0,1,2,3,4,5,6,7]" >
          </div>
        </div>

          <div class="card">
            <div class="item item-divider">
              Shiny {{national.name}}
            </div>
            <img class = "padding" ng-src="{{national.shiny_sprite[n]}}" ng-repeat="n in [0,1]" >
          </div>
        </div>

        <div class="card">
          <div class="item item-divider" >
            Able to breed with
          </div>
          <img ng-src="{{poke.reg_sprite[0]}}" ng-repeat="poke in nationals">
        </div>

  </ion-content>
</ion-view>
