<div class="padding modal transparent animated fadeInUp" on-swipe-left="closeModal()">

  <div class="padding card animated fadeInUp ">
    <p> Stats for {{chat.name[0]}}
    <i class="icon ion-arrow-left-b"></i></p>
      <div class="item item-divider" >
        <p> Total:  {{chat.total}} </p>
      </div>
      <div class="padding item animated fadeInUp ">
        <canvas id="bar" height="200" class="image-modal padding chart chart-bar" data="graph.data" labels="graph.labels" series='graph.series'></canvas>
      </div>
  </div>
  <div class="padding card animated fadeInUp ">
    <table id="table_id">
      <tr ng-repeat="n in [0,1,2,3,4,5]">
        <td>{{ graph.labels[n] }}</td>
        <td class="text-positive">{{ graph.data[0][n]}}</td>
      </tr>
    </table>
  </div>
</div>