/* Empty. Add your own CSS if you like */
ion-content.home-background {
    background-image: url("../img/pokebackground.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.right-image{
	float:right;
	max-width: 80px;
	max-height: 80px;
}
.left-image{
	float:left;
	max-width: 80px;
	max-height: 80px;
}
.center-image{
	float:center;
	max-width: 80px;
	max-height: 80px;
}



.item-content{
	background-color:#ffffff;
}